.record-page-container {
  border: 1px solid black;
  text-align: center;
  margin: auto;
  width: 40%;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-size: 18px;
  .record-page-form {
    text-align: center;

    .form-group {
      .form-control {
        margin: auto;
        width: 50%;
      }
    }
  }
}
