.menu-services-modal {
  display: none;
  position: relative;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  font-size: 18px;
  .all-directions {
    border-right: 1px solid black;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    a {
      color: #4d4d4d;
    }
  }
  .recent-services {
    border-right: 1px solid black;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    text-align: left;
    a {
      color: #4d4d4d;
    }

    .title {
      white-space: nowrap;
    }
  }
  .popular-services {
    border-right: 1px solid black;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    text-align: left;
    a {
      color: #4d4d4d;
    }

    .title {
      white-space: nowrap;
    }
  }
  .make-order {
    padding: 1% 2% 2% 2%;
    text-align: center;
    .make-order-button {
      padding-top: 20px;
    }
  }
}
.header {
  background-color: white;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  .center-name {
    width: 400px;
    padding-right: 10%;
    margin-left: 35px;
    white-space: nowrap;
  }

  .left-main-brand {
    width: 253px;
    height: 50px;
    padding-left: 20px;
  }

  .central-links-menu {
    display: flex;
    align-items: center;
    margin: 0 auto 0 70px;
  }

  .contacts {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    &:hover{
      color: #efc997;
      cursor: pointer;
    }
  }
  .services-button {
    font-weight: 600;
    transition: background .3s,color .3s;
    text-decoration: none;
    text-align: center;
    width: 145px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid black;
    &:hover {
      background-color: #efc997;
      cursor: pointer;
    }
  }
  .sign-in-button {
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    transition: background .3s,color .3s;
    width: 145px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid black;
    a {
      text-decoration: none;
      color: black;
    }
    &:hover {
      background-color: #efc997;
      cursor: pointer;
    }
  }
  .right-header-contacts {
    display: flex;
    align-items: center;
    padding-right: 10%;
    .phone-number {
      text-decoration: none;
      color: black;
    }
  }
}

.contacts-page {
  padding-top: 5%;

  .phone-and-email {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
  .address-and-work-schedule {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
  .container {
    text-align: left;
  }
}

.footer {
  padding-bottom: 200px;
  padding-left: 50px;
  .description {
    padding-top: 20px;
    width: 100%;
  }
  .contact-info {
    .phone-number {
      padding-left: 200px;
    }
  }
  .direction-center-description {
    padding-top: 1%;
    display: flex;
    .center-name {
      width: 200px;
    }
  }
  .direction-name-title {
    padding-left: 130px;
    .directions-name-container {
      .directions-name {
        padding-top: 20px;
      }
      display: flex;
    }
  }
}

.landing {
  .welcome-container {
    display: flex;
    background-image: url('fon3.jpg');
    width: 100%;
    background-size: 100%;
    background-position-y: center;
    height: 700px;
    z-index: 2;

    .content {
      padding-top: 15%;
      padding-left: 20%;
      .welcome-message {
        width: 500px;
      }
    }
  }
  .discount-container {
    .discount-title {
      text-align: center;
    }

    .discount-description {
      padding-left: 20%;
      padding-right: 20%;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
    }
  }
  .directions-container {
    padding-top: 3%;
    .directions-title {
      text-align: center;
      color: grey;
    }
    .directions-description {
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        margin: 30px;
        border: 1px solid grey;
      }
    }
  }
  .doctors-container {
    padding-top: 3%;
    .doctors-title {
      text-align: center;
      color: grey;
    }
    .doctors-description {
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        border: 1px solid grey;
        margin: 30px;
      }
    }
  }
  .question-container {
    padding-top: 3%;
    .question-title {
      text-align: center;
    }
    .question-description {
      padding-left: 20%;
      padding-right: 20%;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
    }
  }
}

.question-container {
  padding-top: 3%;
  .question-text-description {
    padding-left: 20%;
    text-align: left;
  }
  .question-description {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;

    .guest-question-info {
      display: flex;
      .form-group {
        .form-control {
          width: 300px;
        }
      }
      .phone-number {
        padding-left: 50px;
      }
    }
    .guest-question-text {
      .form-group {
        .form-control {
          width: 650px;
          height: 150px;
        }
      }
    }
  }
}

.directions-description {
  .card-img-top {
    height: 220px;
  }
}
